<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <testsuites>
        <testsuite name="integration">
            <directory>./tests/Integration</directory>
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="out/phpunit/cache"
              includeUncoveredFiles="false"
              processUncoveredFiles="true"
              pathCoverage="true"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">tests/Implementation</directory>
        </include>

        <report>
            <html outputDirectory="out/phpunit/html" />
            <php outputFile="out/phpunit/php/coverage.php"/>
            <text outputFile="out/phpunit/txt/coverage.txt" showOnlySummary="true"/>
        </report>
    </coverage>
</phpunit>